.footer {
  background: $black-colorga .;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: auto 50px;
  margin-top: 60px;
  color: $grey-footer;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $navblue;
  opacity: 0.20;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  align-items: center ;
}
.footer-links a:hover {
  opacity: 1;
}
