.footer {
  background: $black-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: auto 50px;
  color: $grey-footer;
  position:relative;
  bottom:0;
  width:100%;
  padding-top:10px;
  height:50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $navblue;
  opacity: 0.20;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  align-items: center ;
}
.footer-links a:hover {
  opacity: 1;
}
