<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
  <div class="container">
  </div>
</div>

<div>
  <!-- Search bar start -->
  <%= form_tag capsules_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Browse capsules"
    %>
    <%= submit_tag "Go", class: "btn btn-primary" %>
  <% end %>
  <!-- Search bar end -->
</div>

<main>

</main>
