<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
  <div class="container">
    <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
    <p>Change your night, change the world.</p>
    <a class="btn btn-flat" href="#"><strong>Book now</strong></a>
  </div>
</div>


</body>
</html>
