<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capsule Corp.</title>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
    <div class="container">
      <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
      <p>Change your night, change the world.</p>
    </div>
  </div>

  <%# <div class="cards-container d-flex"> %>
    <%# <div class="card_1" style="width: 18rem;"> %>
      <%# <img class="card-img-top" src="./ assets/images/caps_house" alt="Card image cap"> %>

    <%# <div class="card-body"> %>
        <%# <div class="img" style="background-image: url(<%= image_path("caps_house"))"> %>
          <%# <h5 class="card-title">Capsule n°15</h5> %>
          <%# <p class="card-text"><strong>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</strong> </p> %>
         <%# <a href="#" class="btn btn-primary">BOOK NOW</a> %>
        <%# </div> %>
          <%# <div class="card_2" style="width: 18rem;"> %>
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
           <%# <div class="card-body"> %>
              <%# <h5 class="card-title">Card title</h5> %>
              <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            <%# </div> %>
            <%# <div class="card_3" style="width: 18rem;"> %>
              <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
              <%# <div class="card-body"> %>
                <%# <h5 class="card-title">Card title</h5> %>
                <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              <%# </div> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
    <%# </div> %>

<div class="app">
  <header>
    <a href="">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Kuririn.png/220px-Kuririn.png" alt="Capsule Corp.">
    </a>
  </header>
  <nav>
    <a href="#" aria-current="page">Home</a>
    <a href="#">More About</a>
    <a href="#">Contact</a>
  </nav>
  <main>
    <h1><span>Caps n°71</span> Cozy with Majestic Views <br>Host: Krillin</h1>
    <p>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</p>
    <a href="">Book here</a>
  </main>
</div>
</body>
</html>
