<div class="banner">

</div>

<main class="card-container">
 <div class="row">
  <div class="image">
    <img src=<%= image_path("Berghain.jpeg") %> alt="">
    <div class="details">
      <h2>Capsule name</h2>
      <p>Parasite is a 2019 South Korean black comedy thriller film directed by Bong Joon-ho, who co-wrote the screenplay with Han Jin-won. The film, starring Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Choi Woo-shik, Park So-dam, Jang Hye-jin, and Lee Jung-eun, follows a poor family who scheme to become employed by a wealthy family and infiltrate their household by posing as unrelated, highly qualified individuals.</p>
      <div class="more">
        <a href="">Read more</a>
      </div>
    </div>
  </div>
 </div>
</main>
