<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
  <div class="container">
  </div>
</div>

<main>

</main>
