<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capsule Corp.</title>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
    <div class="container">
      <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
      <p>Change your night, change the world.</p>
    </div>
  </div>

  <%# <div class="cards-container d-flex"> %>
    <%# <div class="card_1" style="width: 18rem;"> %>
      <%# <img class="card-img-top" src="./ assets/images/caps_house" alt="Card image cap"> %>

    <%# <div class="card-body"> %>
        <%# <div class="img" style="background-image: url(<%= image_path("caps_house"))"> %>
          <%# <h5 class="card-title">Capsule n째15</h5> %>
          <%# <p class="card-text"><strong>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</strong> </p> %>
         <%# <a href="#" class="btn btn-primary">BOOK NOW</a> %>
        <%# </div> %>
          <%# <div class="card_2" style="width: 18rem;"> %>
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
           <%# <div class="card-body"> %>
              <%# <h5 class="card-title">Card title</h5> %>
              <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            <%# </div> %>
            <%# <div class="card_3" style="width: 18rem;"> %>
              <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
              <%# <div class="card-body"> %>
                <%# <h5 class="card-title">Card title</h5> %>
                <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              <%# </div> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
    <%# </div> %>

<div class="app">
  <header>
    <a href="">
      <%# <img src="https://i.pinimg.com/474x/7d/fd/ff/7dfdff77c206bad7e0c579e516517e4b.jpg" alt="Capsule Corp."> %>
    </a>
  </header>
  <nav>
    <a href="#" aria-current="page">Home</a>
    <a href="#">More About</a>
    <a href="#">Contact</a>
  </nav>
  <main>
    <h1><span>Caps n째71</span> Cozy with Majestic Views <br>Host: Kuririn</h1>
    <p>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</p>
    <a href="">Book here</a>
  </main>
</div>

<div class="app">
  <header>
    <a href="">
      <%# <img src="https://w7.pngwing.com/pngs/943/919/png-transparent-dragon-ball-z-vegeta-illustration-vegeta-goku-trunks-majin-buu-nappa-vegeta-hd-fictional-characters-superhero-manga.png" alt="Capsule Corp."> %>
    </a>
  </header>
  <nav>
    <a href="#" aria-current="page">Home</a>
    <a href="#">More About</a>
    <a href="#">Contact</a>
  </nav>
  <main>
    <h1><span>Caps n째71</span> Cozy with Majestic Views <br>Host: Vegeta</h1>
    <p>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</p>
    <a href="">Book here</a>
  </main>
</div>

<div class="app">
  <header>
    <a href="">
      <%# <img src="https://assets.cdn.moviepilot.de/files/c182b87f70612440348f2da645bfb6fddd7ce0bdb0e7f0e697e625b26021/fill/1280/614/freezerdragonballz.jpg" alt="Capsule Corp."> %>
    </a>
  </header>
  <nav>
    <a href="#" aria-current="page">Home</a>
    <a href="#">More About</a>
    <a href="#">Contact</a>
  </nav>
  <main>
    <h1><span>Caps n째71</span> Cozy with Majestic Views <br>Host: Cell</h1>
    <p>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</p>
    <a href="">Book here</a>
  </main>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="fas fa-heart"></i> Konstantin Greif/Donghwan Kim/Johannes Ibald/Jeremy Bordat
  </div>
</div>

</body>
</html>
