.banner {
  background-size: cover;
  background-position: center;

  // background-color: #979897;
  background-image:  linear-gradient(120deg, rgba(189, 242, 255, 0.307), rgb(0, 0, 0)),url(banner_capsule);
  height: 75vh;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
