*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  height: 40vh;
  margin: 30px;
}

.row {
  .image {
    width: 30vw;
    background-color: burlywood;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
  }

  border: 1px solid;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image img{
  opacity: 0.8;
  position: relative;
  width: 80%;
  height: 60%;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.image:hover img{
  opacity: 1;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
}
