@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  font-family: 'Merriweather Sans', sans-serif;
  // light 300
  // light 300 italic
  // regular 400
  // bold 700
}

header {
  background-color: #2a3c36;
  display: flex;
  list-style: none;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.navbar-brand {
  h2 {
    padding: 5px 0px 0 16px;
    margin: 0;
    font-weight: bold;
  }

  img{
    width: 50px;
  }

  text-decoration: none;
  display: flex;
}

.navbar-links {
  .nav-item {
    padding: 0 20px;
  }

  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-sign-in {
  .nav-item {
    padding: 0;
    align-items: center;
  }

  align-items: center;
  display: flex;
  list-style: none;
  padding: 0 20px 0 0;
  margin: 0;
}

// dropdown
.profile-btn {
  cursor: pointer;
  width: 50px;
  border: 0;
}

.profile-pic {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile {
  position: relative;
  display: inline-block;
}

.profile-dropdown-menu {
  &:hover {
    background-color: aliceblue;
  }

  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  background-color: aliceblue;
  right: -20px;
  // top: 50px;

}

.profile-dropdown-menu a:hover{
  background-color: #000;
  color: #fff;
}

.profile:hover .profile-dropdown-menu{
  display: block;
}

.profile:hover .profile-btn{
  background-color: transparent;
}




// .navbar-links {
//   padding: 0;
//   margin: 0;
// }

// .navbar-lewagon {
//   justify-content: space-between;
//   background: rgba(255, 255, 255, 0.33);
//   background-color: rgb(32, 115, 143);
//   text-decoration: underline;
// }

// // .navbar-lewagon .navbar-collapse {
// //   flex-grow: 0;
// //   background-color: rgb(32, 115, 143);
// //   font-family:Arial, Helvetica, sans-serif;
// //   font-size: 20px;
// // }

// .navbar-container img {
//   width: 40px;
//   background-color: rgb(32, 115, 143);
// }

// .btn {
//   background-color: rgb(32, 115, 143);
// }
