@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  font-family: 'Merriweather Sans', sans-serif;
  // light 300
  // light 300 italic
  // regular 400
  // bold 700
}

.navbar-brand {
  text-shadow: $text-shadow-dark;
}

.navbar-links .navbar-item .navbar-link,
ul > li .navbar-link {
  display: inline-block;
  position: relative;
  color: $font-color;
  text-shadow: $text-shadow-dark;
}

.navbar-links .navbar-item .navbar-link:after,
ul > li .navbar-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: $font-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links .navbar-item .navbar-link:hover:after,
ul > li .navbar-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// -----

.navbar-item .navbar-link {
  color: $font-color;
  text-decoration: none;
  // text-shadow: 0.5px 0.5px #b0afaf;
}

header {
  background-color: $black-color;
  display: flex;
  list-style: none;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.652);
}

.navbar-brand {
  h2 {
    padding: 7px 0px 0 9px;
    margin: 0;
    font-weight: bold;
    color: $font-color;
  }

  img{
    width: 50px;
  }

  text-decoration: none;
  display: flex;
}

.navbar-links {
  .navbar-item {
    padding: 0 20px;
    color: $font-color;
  }

  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-sign-in {
  .navbar-item {
    padding: 0;
    align-items: center;
  }

  align-items: center;
  display: flex;
  list-style: none;
  padding: 0 20px 0 0;
  margin: 0;
}

// dropdown

.profile-btn {
  cursor: pointer;
  width: 50px;
  border: 0;
}

.profile-pic {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.profile {
  position: relative;
  display: inline-block;
}

.profile-dropdown-menu {
  .navbar-dropdown-item {
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0
  }
  display: none;
  position: absolute;
  min-width: 120px;
  min-height: 100px;
  z-index: 1;
  background-color: $black-color;
  right: -20px;
  justify-content: center;
}

.profile-dropdown-menu .navbar-dropdown-item:hover {
    background-color: white;
    a {
      color: $black-color;
    }
  }

.profile:hover .profile-dropdown-menu{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profile:hover .profile-btn{
  background-color: transparent;
}
